openapi: 3.0.3
info:
  title: Architectural Design Patterns Anti-Patterns API
  description: API providing access to a catalog of architectural design patterns, their descriptions, use cases, implementation examples, and relationships between patterns.
  version: 1.0.0
  contact:
    name: API Evangelist
    url: https://apievangelist.com
servers:
- url: https://api.apievangelist.com/v1/architectural-design-patterns
  description: Production
tags:
- name: Anti-Patterns
paths:
  /anti-patterns:
    get:
      summary: List anti-patterns
      operationId: listAntiPatterns
      tags:
      - Anti-Patterns
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: List of anti-patterns
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AntiPatternList'
components:
  schemas:
    AntiPatternList:
      type: object
      properties:
        total:
          type: integer
        offset:
          type: integer
        limit:
          type: integer
        antiPatterns:
          type: array
          items:
            $ref: '#/components/schemas/AntiPattern'
    AntiPattern:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        symptoms:
          type: array
          items:
            type: string
        causes:
          type: array
          items:
            type: string
        refactoredSolution:
          type: string
        relatedPatterns:
          type: array
          items:
            type: string
